<h1>Edit User</h1>
<form action="/users/">
    <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
    <input type="text" name="name" value="<%= @user.name %>"/>
    <input type="submit" value="Update">
</form>
